<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>RENTAL CAR</title>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <style>
         body {
         font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
         line-height:1.5em;
         color: #232323;
         -webkit-font-smoothing: antialiased;
         }
         h1, h2, h3 {
         font-family: Times, serif;
         line-height:1.5em;
         border-bottom: 1px solid #ccc;
         }
         .page-header {
         border-bottom: 0px;
         }
      </style>
   </head>
   <body>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
              {% for message in messages %}
              <h1>{{ message }}</h1>
              {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <!-- Begin page content -->
      <div class="container">
         <div class="page-header">
            <h1>WELCOME TO RENTAL CAR!</a></h1>
        </div>

        {% if main %}
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <h1>Cars that you can rent:</h1>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Plate</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for c in car %}
                  <tr>
                    <td>{{ c[0] }}</td>
                    <td>{{ c[1] }}</td>
                    <td>{{ c[2] }}</td>
                    <td>{{ c[3] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
  
          <div class="row">
            <h1>Rent a Car:</h1>
          </div>
        
          <div class="row">
            <div class="col-sm">
              <h3>Rent a car by inserting your Fiscal Code, the Car Plate and an End Date!</h3>
              <form method="POST" action="/addRental">
                <div class="container">
                  <label><b>Fiscal Code</b></label>
                  <input type="text" placeholder="Fiscal Code" name="f_code" required>
                        
                  <label><b>Car Plate</b></label>
                  <input type="text" placeholder="Car Plate" name="car_plate" required>
                        
                  <label><b>End Date</b></label>
                  <input type="text" placeholder="End Date (yyyy-mm-dd)" name="end_date" required>
                        
                  <button type="submit" class="btn btn-default">RENT THE CAR!</button>
                </div>
              </form>
            </div>   
        </div>

        <div class="row">
          <h1>See your Rents:</h1>
        </div>
      
        <div class="row">
          <div class="col-sm">
            <h3>Insert your Fiscal Code to see all your Rents!</h3>
            <form method="POST" action="/showRental">
              <div class="container">
                <label><b>Fiscal Code</b></label>
                <input type="text" placeholder="Fiscal Code" name="f_code_2" required>
                      
                <button type="submit" class="btn btn-default">SEE YOUR RENTS!</button>
              </div>
            </form>
          </div> 
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Plate</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                </tr>
              </thead>
              <tbody>
                {% for r in rental %}
                <tr>
                  <td>{{ r[0] }}</td>
                  <td>{{ r[2] }}</td>
                  <td>{{ r[3] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>  
        </div>
        
        <div class="row">
          <h1>Sign In:</h1>
        </div>

        <div class="row">
          <div class="col-sm">
            <h3>Sign in if you aren't already registered!</h3>
            <form method="POST" action="/signIn">
              <div class="container">
                <label><b>Fiscal Code</b></label>
                <input type="text" placeholder="Fiscal Code" name="f_code" required>
                        
                <label><b>Name</b></label>
                <input type="text" placeholder="Name" name="name" required>
                        
                <label><b>Surname</b></label>
                <input type="text" placeholder="Surname" name="surname" required>
                
                <label><b>Date of Birth</b></label>
                <input type="text" placeholder="Date of Birth (yyyy-mm-dd)" name="date_birth" required>

                <label><b>Place of Birth</b></label>
                <input type="text" placeholder="Place of Birth" name="place_birth" required>

                <label><b>Sex</b></label>
                <input type="text" placeholder="Sex" name="sex" required>
                
                <button type="submit" class="btn btn-default">SIGN IN!</button>
              </div>
            </form>
          </div>   
        </div>
        
        <div class="row">
            <h1>Add a Car:</h1>
          </div>
  
          <div class="row">
            <div class="col-sm">
              <h3>Add a car that can be rented!</h3>
              <form method="POST" action="/addCar">
                <div class="container">
                  <label><b>Car Plate</b></label>
                  <input type="text" placeholder="Car Plate" name="car_plate" required>
                          
                  <label><b>Brand</b></label>
                  <input type="text" placeholder="Brand" name="brand" required>
                          
                  <label><b>Model</b></label>
                  <input type="text" placeholder="Model" name="model" required>
                  
                  <label><b>Price</b></label>
                  <input type="text" placeholder="Price" name="price" required>

                  <button type="submit" class="btn btn-default">ADD THE CAR!</button>
                </div>
              </form>
            </div>   
          </div>
    </div>



    {% endif %}
    <hr>
    <div id="footer">
        <h2>Processo & Sviluppo del Software (2019)</h2> 
        <h4>- 808374 Brumana Mattia</h4> 
        <h4>- 803192 Carubelli Andrea</h4>
        <h4>© ALL RIGHTS RESERVED</h4>
    </div>

  </body>
</html>