table.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 0px solid #FFFFFF;
    width: 97%;
    text-align: center;
    border-collapse: collapse;
  }
  table.paleBlueRows td, table.paleBlueRows th {
    border: 0px solid #FFFFFF;
    padding: 4px 2px;
  }
  table.paleBlueRows tbody td {
    font-size: 13px;
  }
  table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.paleBlueRows thead {
    background: #0B6FA4;
  }
  table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  table.paleBlueRows tfoot td {
    font-size: 14px;
  }